{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function add_coder(coder_name)
{
    form = document.forms['coder'];
    old_coders = form.elements['coders'].value;
    if (old_coders !== "") {
        old_coders += " | "
    }
    form.elements['coders'].value = old_coders + coder_name
}
function erase_coders()
{
    form = document.forms['coder'];
    form.elements['coders'].value = ""
}
</script>
<h1>Coder</h1>
<form action="" method="post" name="coder">
    {{form.hidden_tag()}}
    <p>
        Enter text to decode/encode:<br>
        {{form.text_data(size=80)}}<br>
        {% for error in form.errors.openid %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <p>
        |{% for coder in coders %}
        <a href="javascript:add_coder('{{coder.name}}');">{{coder.name}}</a> |
        {% endfor %}<br>
        <a href="javascript:erase_coders();">reset</a><br>
        {{form.coders(size=80)}}</p>
    <p><input type="submit" value="Do it!"></p>
</form>
{% endblock %}